.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color:rgb(109, 145, 145);
    color:white;
    p{
        b{
            margin-right: 10px;
        }
    }
}
.card:hover{
    background-color: white;
    color:rgb(90, 126, 126);
    box-shadow: 3px 9px 19px 7px rgba(52,79,78,0.85);
}